.i1{
    padding-top: 120px;
    padding-right: 120px;
}

.b1{
    border: none;
    background-color: transparent;
    padding-top: 70px;
    padding-left:50px;
}

.b2{
    border:none;
    background-color: transparent;
    padding-left:50px;
}

.b3{
    border: none;
    background-color: transparent;
    padding-left:50px;
}