.b1{
    text-align: left;
    border: none;
    background-color: transparent; 
    font-size: 50px;
    font-family: serif;
}

.b2{
    margin-left: 15px;
    text-align: left;
    border: none;
    border-radius: 10px;
    padding: 6px;
    background-color: rgb(71, 71, 71);
    color:white; 
    font-size: 27px;
    font-family: serif;
}
.b2:hover{
    transition: 0.4s;
    background-color: rgb(255, 65, 65);
}

.d2{
    margin-top: 200px;
    margin-left: 80px;
}